.blogEditContainer {
    display: flex;
    flex-direction: column;
}

.title-edit {
    margin-top: 2rem;
    width: min(900px, 90%);
    margin-left: 2rem;
    padding: 0.8rem;
    border-radius: 15px;
    border: 1px solid #1abc9c;
    color: #1abc9c;
    background: black;
    font-size: large;
    font-weight: bolder;
}

.title-edit:focus {
    outline: none;
    border: 2px solid #1abc9c;
    box-shadow: 0px 10px 15px #1abc9c;
}

.description-edit {
    margin-top: 2rem;
    width: min(900px, 90%);
    margin-left: 2rem;
    padding: 0.8rem;
    border-radius: 15px;
    border: 1px solid #1abc9c;
    background: black;
    color: #1abc9c;
    overflow: hidden;
}

.description-edit:focus {
    outline: none;
    border: 2px solid #1abc9c;
    box-shadow: 0px 5px 15px;
}

.save-btn {
    background-color: #1abc9c;
    color: white;
    width: 100px;
    padding: 10px;
    margin-top: 2rem;
    align-self: center;
    border-radius: 10px;
    border-style: none;
    outline: none;
}

.save-btn:hover {
    box-shadow: 0px 2px 5px #1abc9c;
}

.save-btn:active {
    box-shadow: none;
}