.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  display: flex;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.heading{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 45px;
  cursor: default;
}

.logout{
   position: relative;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   text-decoration: none;
   font-size: 30px;
   cursor: pointer;
}

.logout:hover {
  text-shadow: 2px 0 2px black;
}

.spacer {
  width: 6rem;
  font-weight: bolder;
  font-size: 1.3em;
  cursor: pointer;
}

.spacer:hover {
  text-shadow: 2px 0 2px black;
}