.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: 50% 0;
    animation: login-animation 0.5s linear;
}

@keyframes login-animation {
    from {
        transform: scaleY(0);
		opacity: 0;
	}
	to {
        transform: scaleY(1);
		opacity: 1;	
	}
}

.login-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    background: #252525;
    border-style: solid;
    border-width: 2px;
    color: white;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.login-input:focus {
    outline: none;
    border-color: #1abc9c;
}

.login-button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: #1abc9c;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}

.login-button:active {
    background-color: #106957;
}